@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --font-color: #94a3b8;
  --border-color: #e5e7eb;
  --background-color: white;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  overflow: hidden;
  color: var(--font-color);
  background: var(--background-color);
}

@layer components {
  .btn {
    @apply font-medium text-sm
    border rounded py-2 px-4  
    cursor-pointer transition-colors duration-200;
  }
  .btn-slate {
    @apply bg-slate-200 hover:bg-slate-300 border-white text-white;
  }

  .container-row {
    @apply flex border items-center w-full p-2;
  }

  .row-container {
    @apply p-4 h-20 flex w-full text-xs border-b items-center
  }

  .row-ui-element {
    @apply px-3 py-1 flex items-center text-xs text-gray-500 border rounded border-gray-300 bg-white bg-opacity-40;
  }

  .thumbnail {
    @apply w-8 h-8 flex-shrink-0 rounded;
  }

  .single-line-truncate {
    @apply w-full overflow-hidden break-all;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
  }


  .form {
    @apply h-full flex flex-col p-4;
  }

  .form-element-container {
    @apply flex flex-col;
  }

  .form-element-label {
    @apply text-slate-300 font-medium text-xs mb-2;
  }
  
  .form-element {
    @apply border rounded border-slate-200 text-slate-300 p-1 text-xs;
  }

  .form-button-cta {
    @apply 
      p-1 mt-auto
      rounded border 
      text-sm font-medium 
      w-full bg-opacity-40
      flex items-center justify-center;
  }

  .form-button-secondary {
    @apply opacity-50 text-sm font-medium text-slate-300 w-full flex items-center justify-center;
  }

  .form-gap {
    @apply mt-4;
  }
  

}

.top-level-nav {
  display: flex;
  width: 100%;
  padding: 16px;
  font-size: 13px;
  font-weight: 500;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--border-color);
}

h1,
h2,
h3 {
  font-weight: 600;
}

.center-items {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.link {
  color: blue;
  font-weight: 500;
}

.tab {
  margin: 0 8px;
  text-underline-offset: 2px;
  text-decoration-line: underline;
}

.big-bold {
  font-size: 32px;
  font-weight: 900;
}

main {
  height: 100vh;
  background-color: #F8F8FA;
}

.masonry-grid {
  gap: 8px;
  padding: 16px;
  display: grid;
  grid-auto-flow: dense;
  grid-auto-rows: 200px;
  grid-template-columns: repeat(4, 1fr);
}

.basic-grid {
  gap: 8px;
  padding: 16px;
  width: 100%;
  display: grid;
  grid-auto-rows: 200px;
  grid-template-columns: repeat(auto-fit, minmax(64px, 1fr));
}

.basic-grid article {
  max-height: 200px;
}

.basic-grid article img {
  object-fit: cover;
}



.header {
  height: 64px;
  min-height: 64px;
  display: flex;
  padding: 16px;
  align-items: center;
  border-bottom: 1px solid #e5e7eb;
}

.header-element {
  display: flex;
  font-size: 12px;
  color: #94a3b8;
  padding: 4px 12px;
  align-items: center;
  border-radius: 0.25rem;
  border: 1px solid #e5e7eb;
  justify-content: flex-start;
  background-color: rgba(255, 255, 255, .4);
}

/* SIDE NAVIGATION */

.side-nav {
  width: 20rem;
  display: flex;
  flex-direction: column;
  border-right: 1px solid var(--border-color);
}

.side-nav .header {
  display: flex;
  justify-content: space-between;
}

.side-nav header h2 {
  font-size: 14px;
}

.side-nav section {
  display: flex;
  padding: 16px;
  flex-direction: column;
  justify-content: center;
  border-bottom: 1px solid var(--border-color);
}

.side-nav .side-nav-item {
  display: flex;
  line-height: 1;
  font-size: 12px;
  align-items: center;
  justify-content: space-between;
}