:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --font-color: #94a3b8;
  --border-color: #e5e7eb;
  --background-color: white;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  height: 100%;
  overflow: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  height: 100%;
}

body {
  height: 100%;
  min-height: 100vh;
  color: var(--font-color);
  display: flex;
  flex-direction: column;
  background: var(--background-color);
}

body>nav {
  flex-shrink: 0;
  display: flex;
  width: 100%;
  padding: 16px;
  font-size: 13px;
  font-weight: 500;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--border-color);
}

main {
  flex-grow: 1;
  height: 100vh;
  background-color: #F8F8FA;
}

body>footer {
  flex-shrink: 0;
}

.masonry-grid {
  gap: 8px;
  padding: 16px;
  display: grid;
  grid-auto-flow: dense;
  grid-auto-rows: 200px;
  grid-template-columns: repeat(4, 1fr);
}

.basic-grid article {
  max-height: 200px;
}

.basic-grid article img {
  object-fit: cover;
}

ul,li {
  list-style: none;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  h1, h2, h3 {
    @apply font-semibold;
  }
  .btn {
    @apply font-medium text-sm border rounded py-2 px-4 cursor-pointer transition-colors duration-200;
  }

  .container-row {
    @apply flex border items-center w-full p-2;
  }

  .row-container {
    @apply p-4 h-20 flex w-full text-xs border-b items-center
  }

  .row-ui-element {
    @apply ml-4 px-3 py-1 flex items-center text-xs text-gray-500 border rounded border-gray-300 bg-white bg-opacity-40;
  }

  .single-line-truncate {
    @apply w-full overflow-hidden break-all;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
  }

  .form {
    @apply h-full flex flex-col p-4;
  }

  .form-element-container {
    @apply flex flex-col;
  }

  .form-element-label {
    @apply text-slate-300 font-medium text-xs mb-2;
  }

  .form-element {
    @apply border rounded border-slate-200 text-slate-300 p-1 text-xs;
  }

  .form-button-cta {
    @apply p-1 mt-auto rounded border text-sm font-medium w-full bg-opacity-40 flex items-center justify-center;
  }

  .form-button-secondary {
    @apply opacity-50 text-sm font-medium text-slate-300 w-full flex items-center justify-center;
  }

  .form-gap {
    @apply mt-4;
  }

  .basic-grid {
    @apply gap-2 p-4 w-full grid;
    grid-auto-rows: 200px;
    grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
  }

  .side-nav {
    @apply 
    w-[20rem] 
    md:flex md:flex-col
    border-r border-[var(--border-color)] 
    hidden
    ;
  }

  .nav-item {
    @apply flex items-center justify-between text-xs leading-none h-[45px] p-4 border-b flex-row cursor-pointer;
  }

  .header {
    @apply min-h-[64px] flex p-4 items-center border-b;
  }
  
  .header-element {
    @apply flex text-xs text-gray-400 px-3 py-1 items-center rounded border border-gray-300 justify-start bg-white bg-opacity-40;
  }

  .image-base {
    @apply flex-shrink-0 border rounded relative transition-colors duration-500 ease-in-out;
  }

  .thumbnail {
    @apply w-12 h-12 mr-4;
  }

  .preview {
    @apply w-full h-full;
  }

  .fullscreen {
    @apply w-full h-full;
  }
}