@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --font-color: black;
  --background-color: white;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: var(--font-color);
  background: var(--background-color);
}

@layer components {
  .responsive-grid {
    @apply grid grid-cols-1 gap-4 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5;
  }
}

h1, h2, h3 {
  font-weight: 600;
}

.center-items {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.big-bold {
  font-size: 32px;
  font-weight: 900;
}

main {
  height: 100vh;
  background-color: #F8F8FA;
}